.navbar {
    background-color: transparent;
    position: absolute;
    box-shadow: none;
}
nav {
    line-height: unset;   
}
.mob {
    transform: translate(0,100%);
}
header {
    display: flex;
    height: 100vh;
    background: url('../bg-img.jpeg');
    background-size:cover;
}

.logo {
    position: relative;
    height: 100%;
}
.content {
    margin: auto;
    color: #ffffff;
}
.icna {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.bot p {
    color: #64dd17;
}

p{
    margin: 0;
}
.p {
    font-size: 17px;
}

.input-filed .prefix {
    font-size:2.4rem;
    font-size: 0.9rem;
}

.bot {
    transform: translate(0,20%);
}
.info p {
    padding:5 15px;
}


.photo {
    display: flex;
    justify-content: space-between;
}
.stars {
    margin: auto 0;
}

.image-holder img{
    width: 100%;
}

.search-btn a{
    width: 100%;
}
.text1 a{
    border: solid 1px;
}
.text2 a{
    border: solid 1px;
    color: green;
}

.icn {
    display: inline-block;
}
.adc {
    display:flex;
    justify-content: space-between; 
}
.foot {
    display: flex;
    justify-content: space-between;
}
.txt p {
    margin-bottom: 20px;
} 

.abc a {
    padding: 0 15px;
}
.inf {
    color: white;
}