html {
    background-color: #e0e0e0;
}

nav {
    line-height: unset;   
}
.mob {
    transform: translate(0,100%);
}
header {
    display: flex;
    height: 100vh;
    background: url('../bg-img.jpeg');
    background-size:cover;
}

.logo {
    position: relative;
    height: 100%;
}
.content {
    margin: auto;
    color: #ffffff;
}
.icna {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.bot p {
    color: #64dd17;
}

.bot p{
    margin: 0;
}

.input-filed .prefix {
    font-size:2.4rem;
    font-size: 0.9rem;
}

.bot {
    transform: translate(0,20%);
}
.info p {
    padding:5 15px;
}


.search-btn a{
    width: 100%;
}
.text1 a{
    border: solid 1px;
}
.text2 a{
    border: solid 1px;
    color: green;
}

.icn {
    display: inline-block;
}
.adc {
    display:flex;
    justify-content: space-between; 
}
.foot {
    display: flex;
    justify-content: space-between;
}
.txt p {
    margin-bottom: 20px;
} 

.abc a {
    padding: 0 15px;
}
.inf {
    color: white;
    margin-bottom: 20px;
}
.inf p {
    margin-top: 0;
}
.more {
    display: flex;
    justify-content: space-between;
    background-color: #90caf9;
    padding: 10px;
    margin-bottom: 20px;
}
.more p {
    padding: 0 0 5px 0;
}


.options {
	position: absolute;
	z-index: 100;
	color: #fff;
    width: 100%;
    height: 100%;
	display: none;
}

.favorite {
     background-color: #4db6ac; 
}
.compare { 
    background-color: #009688;
}
.details { 
    background-color: #00796b; 
}

.compare-wrapper {
    display: flex;
}
.card-name p {
    padding: 5px;
}
.flex-container {
    display: flex;
}

.flex-align {
    margin: auto;
}

.favorite, .compare, .details {
	cursor: pointer;
    opacity: 0.9;
    height: 33.3333%;
    width: 100%;
}

.favorite:hover, .compare:hover, .details:hover {
	background-color: #00e676;
}

.options .img-icon, .icon-text {
	display: inline-block;
}

.img-icon {
	padding-right: 5px;
}

.image-and-info:hover .options {
	display: block;
}

.image-and-info:hover .card-name {
	background-color: #4caf50;
	cursor: pointer;
}

.card-name {
	text-align: center;
	background-color: #404040;
    color: #fff;
}

.card .card-name {
	padding: 0;
}

.card-info {
	display: flex;
    justify-content: space-around;
    width: 100%;    
    padding: 15px 0 0 0;
    font-size: 20px;
}

.info-ans p {
    text-align: right;
    margin-bottom: 20px;
}

.info-type p {
    color: #757575;
    margin-bottom: 20px;
}

.check-form {
    display: inline-block;
    margin-top: 5px;
}
.sort-by {
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 0 0.75rem;
}

.tab {
    display: flex;
}

.tab i, .tab p, .sort {
    padding: 0 10px 0 10px;
    margin: auto 0;
}
.isort i {
    cursor: pointer;
    display: block;
    padding: 0%;
    height: 15px;
}

.bif {
    float: right;
    width: 100%;
}

.compareContainer {
    display: none;
    position: fixed;
    height: auto;
    background-color: #64dd17;
    width: 90px;
    right: 0;
    top: 150px;
    padding: 5px;
    margin: 10px;
    outline: none;
}

.compare-btn {

    padding: 0 8px;
    height: 20px;
    line-height: 23px;
    font-size: 8px;

}

.compare-elements img {
    width: 80px;
    height: 80px;
    margin: 5px 0;
}

.compare-wrapper {
    pointer-events: none;
}

.compare-content a {
    width: 80px;
}

.card-informatii {
    padding: 0%;
}

.by-info {
    background-color: #000000;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.flex-card {
    display: flex;
    padding: 0;
    height: 169px;
}

.compare-button {
    text-align: center;
}

.content-img img {
    width: 100%;
}
.list-options {
    width: 100%;
    font-size: 18px;
}

.flex-align p {
    padding: 0 15px 0 0;
}

.list-card-name {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
}

.list-favorite, .list-compare, .list-details {
	cursor: pointer;
    height: 33.3333%;
    width: 100%;
}
.list-favorite {
    background-color: #4db6ac; 
}
.list-compare { 
   background-color: #009688;
}
.list-details { 
   background-color: #00796b; 
}
.flex-align{
    display: flex;
}

.compare p {
    margin: 0;
}
.card-image p {
    margin: 0;

}
