nav {
    line-height: unset;   
}
.mob {
    transform: translate(0,100%);
}
.logo {
    position: relative;
    height: 100%;
}
p{
    margin: 0;
}
.bot {
    transform: translate(0,20%);
}
.text1 a{
    border: solid 1px;
}
.text2 a{
    border: solid 1px;
    color: green;
}
.adc {
    display:flex;
    justify-content: space-between; 
}
.foot {
    display: flex;
    justify-content: space-between;
}
.txt p {
    margin-bottom: 20px;
} 

.card-content {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: azure;
    padding: 10px;
}

.card-element {
    overflow: hidden;
    margin: 0;
}

.card-text {
    display: flex;
   
}
.card-text p {
    margin: 0 10px;
}
.txt {
    margin: 10px;
}
.box-menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.box-menu div {
    padding: 0 15px;
    margin-bottom: 15px;
}


.info {
    color: #fafafa;
    background-color: #000;
}
.review {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.note p {
    margin-bottom: 15px;
}
.abc a {
    padding: 10px;
}
.inf {
    color: #fafafa;
}

body {
    background-color: #90a4ae ;
}
.cab {
    background-color: #fafafa;
}
section p  {
    margin: 10px;
}


.jssorb111 .i {
    position: absolute;
    color: #fff;
    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
    text-align: center;
    cursor: pointer;
    z-index: 0;
  }

  .jssorb111 .i .n {
    display: none;
  }

  .jssorb111 .i .b {
    fill: #fff;
    stroke: #000;
    stroke-width: 500;
    stroke-miterlimit: 10;
    stroke-opacity: .5;
  }

  .jssorb111 .i:hover .b {
    fill: #fea900;
    stroke: #fea900;
    stroke-width: 6000;
    stroke-opacity: 1;
  }

  .jssorb111 .iav .b {
    fill: #000;
    stroke-width: 6000;
    stroke-opacity: 1;
  }

  .jssorb111 .i.idn {
    opacity: .3;
  }

  .jssorb111 .iav .n,
  .jssorb111 .i:hover .n {
    display: block;
  }

  .jssort121 .p .t {
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 24px;
    overflow: hidden;
  }

  .jssort121 .p .i {
    margin-right: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: 96px;
    height: 48px;
    border: none;
    float: left;
  }

  .jssort121 .ti {
    position: relative;
    font-size: 14px;
    font-weight: bold;
  }

  .jssort121 .d {
    position: relative;
    font-size: 12px;
  }
  .jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes jssorl-009-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
